<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>
<div class="container paddingAll">
    <div class="row">
        <form action="/" method="post" class="form-inline">
            <div class="col-xs-10">
                <div class="input-group">
                    <input type="text" name="searchString" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                         <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>

            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- jumbotron ; thumbnail -->
            {% for note in notes %}
            <div>
                <h4 class="page-header">{{note.title}}</h4>
                <div>
                    <div style="float:right;">
                        <a href="/addNote?id={{note.title}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="/removeNote?id={{note.title}}" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="well well-sm" style="white-space: pre-wrap;">
                    {{note.body}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>




